@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

body {
  font-family: 'Quicksand';
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul a {
  margin-right: 40px;
}
